*.csv filter=lfs diff=lfs merge=lfs -text
2018_bikes.csv filter=lfs diff=lfs merge=lfs -text
2019_bikes.csv filter=lfs diff=lfs merge=lfs -text
bike_data.csv filter=lfs diff=lfs merge=lfs -text
datasets/2019_bikes.csv filter=lfs diff=lfs merge=lfs -text
datasets/2018_bikes.csv filter=lfs diff=lfs merge=lfs -text
